<div class="app-project-landing-page">
  <div class="app-project-landing-page__container">
    <div class="app-project-landing-page__card-container">
      <app-navigation-card [icon]="'book-outline'" [text]="'Data Input'" (click)="openDataInput()">
      </app-navigation-card>
    </div>

    <div class="app-project-landing-page__card-container">
      <app-navigation-card [icon]="'pie-chart-outline'" [text]="'Calculations'" (click)="openCalculations()">
      </app-navigation-card>
    </div>

    <div class="app-project-landing-page__card-container">
      <app-navigation-card [icon]="'at-outline'" [text]="'Comments'">
      </app-navigation-card>
    </div>

    <div class="app-project-landing-page__card-container">
      <app-navigation-card
        [icon]="'options-2-outline'"
        [text]="'Project Details'"
      >
      </app-navigation-card>
    </div>
  </div>
</div>
