.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(161, 214, 231, 0.2); /* Semi-transparent background */
  z-index: 100;
}

.transparent-card {
  background-color: transparent;
}