<!-- <h1>hello</h1>
<nb-card>
  <nb-card-header>
    hello
  </nb-card-header>
</nb-card>

<nb-layout center>
  <nb-layout-header>Awesome Company</nb-layout-header>

  <nb-layout-column>
    Hello World!
  </nb-layout-column>

  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout> -->

<!-- <nb-layout>
  <nb-layout-header fixed>Company Name</nb-layout-header>

  <nb-sidebar>Sidebar Content</nb-sidebar>
  
  <nb-layout-column>
    Page Content <button nbButton>Hello World</button>
  </nb-layout-column>
</nb-layout> -->

<!-- <nb-card size="tiny">
  <nb-card-header>Nebula</nb-card-header>
  <nb-card-body>
    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
    Originally, nebula was a name for any diffuse astronomical object,
    including galaxies beyond the Milky Way.
  </nb-card-body>
  <nb-card-footer>By Wikipedia</nb-card-footer>
</nb-card> -->

<nb-layout center>
  <nb-layout-header>Awesome Company</nb-layout-header>

  <nb-layout-column>
    <nb-card size="medium">
      <nb-card-header>Nebula</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.
      </nb-card-body>
      <nb-card-footer>By Wikipedia</nb-card-footer>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>