<nb-card>
  <nb-card-body>
    <label class="search-label" for="search">Search:</label>
    <input
      nbInput
      [nbFilterInput]="dataSource"
      id="search"
      class="search-input"
    />

    <table
      [nbTreeGrid]="dataSource"
      [nbSort]="dataSource"
      (sort)="updateSort($event)"
    >
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr
        nbTreeGridRow
        *nbTreeGridRowDef="let row; columns: allColumns"
      ></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th
          nbTreeGridHeaderCell
          [nbSortHeader]="getSortDirection(customColumn)"
          *nbTreeGridHeaderCellDef
        >
          {{ customColumn }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <!-- <nb-fs-icon
            [kind]="row.data.kind"
            [expanded]="row.expanded"
          ></nb-fs-icon> -->
          <nb-icon icon="layers-outline" class="project-icon" (click)="navigate(row)"></nb-icon>
          {{ row.data[customColumn] }}
        </td>
      </ng-container>

      <ng-container
        *ngFor="let column of defaultColumns; let index = index let last = last"
        [nbTreeGridColumnDef]="column"
        [showOn]="getShowOn(index)"
      >
        <th
          nbTreeGridHeaderCell
          [nbSortHeader]="getSortDirection(column)"
          *nbTreeGridHeaderCellDef
        >
          {{ column }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <div class="last-column">
            {{ row.data[column] || "-" }}
          <span *ngIf="last"><nb-icon icon="trash-2-outline" class="project-icon" (click)="deleteProject(row.data)"></nb-icon></span>
          </div>
        </td>
        
      </ng-container>
      
    </table>
  </nb-card-body>
</nb-card>
