<div class="modal-container">
  <form [formGroup]='projectForm' (ngSubmit)="onSubmit()">
    <nb-card size="medium">
      <nb-card-header>
        <div class="center">
          <div class="__header">Please Enter Project Details</div>
        </div>
      </nb-card-header>

      <nb-card-body class="form-container">
        <div class="form-input">
          <label for="projectName">Project Name:</label>
          <div class="input-container">
            <input nbInput id="projectName" type="text" formControlName="projectName" placeholder="Please enter Project Name" required />
          </div>
        </div>
        <div class="form-input">
          <label nbLabel for="clientName">Client Name:</label>
          <div class="input-container">
            <input nbInput id="clientName" type="text" formControlName="clientName" placeholder="Please enter Client Name" required />
          </div>
        </div>
        <div class="form-input">
          <label for="date">Date:</label>
          <div class="input-container">
            <input
              nbInput
              placeholder="Pick Date"
              formControlName = "date"
              [nbDatepicker]="datepicker"
            />
            <nb-datepicker #datepicker class="date-picker"></nb-datepicker>
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <div class="center">
          <div class="__footer">
            <button nbButton status="primary" fullWidth [disabled]="!isValid">Submit</button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </form>
</div>
